/*Form*/

form .ipt, form .tta {
  background-color: #fff;
  border-color: #dbdbdb;
  color: #363636;
  box-shadow: inset 0 1px 2px rgba(10, 10, 10, .1);
  max-width: 100%;
  width: 100%;
}

form .btn, form .ipt, form .slt select, form .tta {
  -moz-appearance: none;
  -webkit-appearance: none;
  align-items: center;
  border: 1px solid #dbdbdb;
  border-radius: 4px;
  box-shadow: none;
  display: inline-flex;
  font-size: 1rem;
  height: 2.25em;
  justify-content: flex-start;
  line-height: 1.5;
  padding-bottom: calc(.375em - 1px);
  padding-left: calc(.625em - 1px);
  padding-right: calc(.625em - 1px);
  padding-top: calc(.375em - 1px);
  position: relative;
  vertical-align: top;
}

form .tta:not([rows]) {
  max-height: 600px;
  min-height: 120px;
}

form .ctr {
  font-size: 1rem;
  position: relative;
  text-align: left;
}
form .fld.start, form .fld.center, form .fld.end {
  display: flex;
  flex-direction: row;
}


form .fld.start {
  justify-content: flex-start;
  align-self: flex-start;
}

form .fld.center {
  justify-content: center;
  align-self: center;
}

form .fld.end {
  justify-content: flex-end;
  align-self: flex-end;
}

form .fld.grd {
  display: flex;
}

form .fld:not(:last-child) {
  margin-bottom: .75rem;
}

form .fld.grd > .ctr:not(:last-child) {
  margin-bottom: 0;
  margin-right: .75rem;
}

form .slt {
  display: inline-block;
  max-width: 100%;
  position: relative;
  vertical-align: top;
}

form .slt select {
  background-color: #fff;
  border-color: #dbdbdb;
  color: #363636;
  cursor: pointer;
  display: block;
  font-size: 1em;
  max-width: 100%;
  outline: 0;
}

form .slt.fwdh, form .slt.fwdh select {
  width: 100%;
}

form .slt select:not([multiple]) {
  padding-right: 2.5em;
}

form .fld:not(:last-child) {
  margin-bottom: .75rem;
}

form .slt::after {
  border-color: #aab1bc !important;
  right: 1.125em;
  z-index: 4;
}

form .slt::after {
  border: 3px solid transparent;
  border-radius: 2px;
  border-right: 0;
  border-right-color: currentcolor;
  border-top: 0;
  border-top-color: currentcolor;
  content: " ";
  display: block;
  height: .625em;
  margin-top: -.4375em;
  pointer-events: none;
  position: absolute;
  top: 50%;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transform-origin: center;
  transform-origin: center;
  width: .625em;
}

form label {
  color: #363636;
  display: block;
  font-size: .90rem;
  font-weight: 700;
}

form label:not(:last-child) {
  margin-bottom: .5rem;
}

form .hlp {
  display: block;
  font-size: .75rem;
  margin-top: .25rem;
}

form .tta {
  display: block;
  max-width: 100%;
  min-width: 100%;
  padding: .625em;
  resize: vertical;
}

form .tta.nr {
  resize: none;
}

form .radio + .radio {
  margin-left: .5em;
}

form .checkbox, form .radio {
  cursor: pointer;
  display: inline-block;
  line-height: 1.25;
  position: relative;
}

form input[type="checkbox"], form input[type="radio"] {
  vertical-align: baseline;
}

//FILE
form .file {
  align-items: stretch;
  display: flex;
  justify-content: flex-start;
  position: relative;
}

form .file-label {
  align-items: stretch;
  display: flex;
  cursor: pointer;
  justify-content: flex-start;
  overflow: hidden;
  position: relative;
}

form .file-input {
  height: .01em;
  left: 0;
  outline: 0;
  position: absolute;
  top: 0;
  width: .01em;
}

form .file-cta {
  background-color: #f5f5f5;
  color: #4a4a4a;
}

form .file-cta, form .file-name {
  font-size: 1em;
  white-space: nowrap;
  -moz-appearance: none;
  -webkit-appearance: none;
  align-items: center;
  border: 1px solid #dbdbdb;
  border-radius: 4px;
  box-shadow: none;
  display: inline-flex;
  height: 2.25em;
  justify-content: flex-start;
  line-height: 1.5;
  padding-bottom: calc(.375em - 1px);
  padding-left: 1em;
  padding-right: 1em;
  padding-top: calc(.375em - 1px);
  position: relative;
  vertical-align: top;
}

form .file-icon {
  align-items: center;
  display: flex;
  height: 1em;
  justify-content: center;
  margin-right: .5em;
  width: 1em;
}

form .file-label {
  align-items: stretch;
  display: flex;
  cursor: pointer;
  justify-content: flex-start;
  overflow: hidden;
  position: relative;
}

form .file.filename .file-cta {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}

form .file.filename .file-name {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  margin-left: -1px;
}

form ul.errorlist {
  color: #ff4100e6;
  font-size: 13px;
  padding: 13px;
  background-color: #fadad780;
  margin: 7px 0 0 0;
  line-height: 13px;
  border-radius: 3px;

}

//END FILE